<p id="notice"><%= notice %></p>

<p>
  <b>Course:</b>
  <%= @yearly_detail_course.course %>
</p>


<%= link_to 'Edit', edit_yearly_detail_course_path(@yearly_detail_course) %> |
<%= link_to 'Back', yearly_detail_courses_path %>
