<p id="notice"><%= notice %></p>

<p>
  <b>Area type name:</b>
  <%= @student_area_type.area_type_name %>
</p>


<%= link_to 'Edit', edit_student_area_type_path(@student_area_type) %> |
<%= link_to 'Back', student_area_types_path %>
