<p id="notice"><%= notice %></p>

<p>
  <b>Stream:</b>
  <%= @yearly_detail_stream.stream %>
</p>


<%= link_to 'Edit', edit_yearly_detail_stream_path(@yearly_detail_stream) %> |
<%= link_to 'Back', yearly_detail_streams_path %>
