body{
	background-color:#e4dab8;
}

/* For navigation and Menu */
#nav {
	margin: 0;
	padding: 7px 6px 0;
	line-height: 100%;
	border-radius: 2em;

	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;

	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);

	background: #8b8b8b; /* for non-css3 browsers */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#a9a9a9', endColorstr='#7a7a7a'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#a9a9a9), to(#7a7a7a)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #a9a9a9,  #7a7a7a); /* for firefox 3.6+ */

	border: solid 1px #6d6d6d;
}
#nav li {
	margin: 0 5px;
	padding: 0 0 8px;
	float: left;
	position: relative;
	list-style: none;
}
/* main level link */
#nav a {
	font-weight: bold;
	color: #e7e5e5;
	text-decoration: none;
	display: block;
	padding:  8px 20px;
	margin: 0;
	-webkit-border-radius: 1.6em;
	-moz-border-radius: 1.6em;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}
/* main level link hover */
#nav .current a, #nav li:hover > a {
	background: #d1d1d1; /* for non-css3 browsers */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#a1a1a1'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#a1a1a1)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #ebebeb,  #a1a1a1); /* for firefox 3.6+ */

	color: #444;
	border-top: solid 1px #f8f8f8;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
}
/* sub levels link hover */
#nav ul li:hover a, #nav li:hover li a {
	background: none;
	border: none;
	color: #666;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
#nav ul a:hover {
	background: #0399d4 !important; /* for non-css3 browsers */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#04acec', endColorstr='#0186ba'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba)) !important; /* for webkit browsers */
	background: -moz-linear-gradient(top,  #04acec,  #0186ba) !important; /* for firefox 3.6+ */

	color: #fff !important;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}
/* level 2 list */
#nav ul {
	background: #ddd; /* for non-css3 browsers */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cfcfcf'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#cfcfcf)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #fff,  #cfcfcf); /* for firefox 3.6+ */

	display: none;
	margin: 0;
	padding: 0;
	width: 185px;
	position: absolute;
	top: 35px;
	left: 0;
	border: solid 1px #b4b4b4;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}
/* dropdown */
#nav li:hover > ul {
	display: block;
}
#nav ul li {
	float: none;
	margin: 0;
	padding: 0;
}
#nav ul a {
	font-weight: normal;
	text-shadow: 0 1px 1px rgba(255, 255, 255, .9);
}
/* level 3+ list */
#nav ul ul {
	left: 181px;
	top: -3px;
}
/* rounded corners for first and last child */
#nav ul li:first-child > a {
	-webkit-border-top-left-radius: 9px;
	-moz-border-radius-topleft: 9px;
	-webkit-border-top-right-radius: 9px;
	-moz-border-radius-topright: 9px;
}
#nav ul li:last-child > a {
	-webkit-border-bottom-left-radius: 9px;
	-moz-border-radius-bottomleft: 9px;
	-webkit-border-bottom-right-radius: 9px;
	-moz-border-radius-bottomright: 9px;
}
/* clearfix */
#nav:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
#nav {
	display: inline-block;
}
html[xmlns] #nav {
	display: block;
}
* html #nav {
	height: 1%;
}

#alert
{
color:red;
}

/*this is what we want the signup signin link div to look like*/
div.topright{
 display:block;

 /*set the div in the top right corner*/
 position:absolute;
 top:0;
 right:0;
 margin:10px 10px 20px 0px;

 /*give it some background and border*/
 background:#eee;
 border:1px solid #ddd;
}

/* CHOOSE PAGE */
/*For choosepage Left*/
div.pageleft{
 display:block;
 float:left;
 width:47%;
 margin:10px 10px 10px 10px;
 /*give it some background and border*/
 background:#7c5b47;
 border:5px solid #ffcc99;
}

/*For choosepage Right*/
div.pageright{
 display:block;
 float:right;
 width:47%;
 margin:10px 10px 10px 10px;

 /*give it some background and border*/
 background:#7c5b47;
 border:5px solid #ffcc99;
}

h2.choose{
  text-align:center;
  color:#fff;
}
h2.sameline{
  padding-left:10px;
  padding-right:10px;
  display:inline;
  text-align:left;
  color:#fff;
}
h3.choose{
  text-align:center;
  color:#ffcc99;
}
a.choose{
  background:#fff;
  text-align:center;
  color:#7c5b47;
}
a.choose:hover {
    color: #fff;
    background-color: #3366FF;
}
p.choose{
  text-align:center;
}

/* Donor List Display */
#donors
{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
width:100%;
border-collapse:collapse;
}
#donors td, #donors th
{
font-size:1em;
border:1px solid #7c5b47;
padding:3px 7px 2px 7px;
}
#donors th
{
font-size:1.1em;
text-align:left;
padding-top:5px;
padding-bottom:4px;
background-color:#7c5b47;
border:1px solid #ffcc99;
color:#fff9e7;
}
#donors tr { background-color: #fff9e7}
#donors tr.highlight { background-color: #EEEEEE }
#donors tr.normal { background-color: #fff9e7 }
#donors tr.odd td
{
color:#000000;
background-color:#EAF2D3;
}
#donors tr.even td
{
color:#000000;
background-color:#fff9e7;
}
#container
{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
width:100%;
border-collapse:collapse;
}
#container td, #container th
{
font-size:1em;
border:0px solid #98bf21;
padding:3px 7px 2px 7px;
}

/* Donation List Display */
#donations
{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
width:100%;
border-collapse:collapse;
}
#donations td, #donations th
{
font-size:1em;
border:1px solid #7c5b47;
padding:3px 7px 2px 7px;
}
#donations th
{
font-size:1.1em;
text-align:left;
padding-top:5px;
padding-bottom:4px;
background-color:#7c5b47;
border:1px solid #ffcc99;
color:#fff9e7;
}
#donations tr { background-color: #fff9e7}
#donations tr.highlight { background-color: #EEEEEE }
#donations tr.normal { background-color: #fff9e7 }
#donations tr.odd td
{
color:#000000;
background-color:#EAF2D3;
}
#donations tr.even td
{
color:#000000;
background-color:#fff9e7;
}

/* Form Elements */
input[type="email"]
{
padding: 5px;
width:300px;
display:block;
margin-bottom:10px;
background-color:#F5ECDB;
}
input[type="password"]
{
padding: 5px;
width:300px;
display:block;
margin-bottom:10px;
background-color:#FFCC99;
}
input[type="text"]
{
padding: 5px;
width:300px;
display:block;
margin-bottom:10px;
background-color:#F5ECDB;
}
input[type="button"]
{
margin-left:35px;
display:block;
}
input[type="submit"]
{
height:30px;
margin-left:35px;
display:block;
}
input:focus {
	background-color:#CCFF99;
	color:#000000;
}

textarea
{
width: 95%;
height: 50px;
border: 3px solid #cccccc;
padding: 5px;
font-family: Tahoma, sans-serif;
background-color:#F5ECDB;
}
textarea:focus {
	background-color:#CCFF99;
	color:#000000;
}


.button{
	background-color:#fff9e7;

	border-width:1px;
	border-style:solid;
	border-color:#7c5b47;

	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

label{
	color:#bf311b;
	font-size:90%;

	display:block;
	width:100px;
	float:left;
	text-align:left;
	margin:4px 5px 0px 0px;
}

form fieldset{
	background-color:#fff9e7;

	border-width:2px;
	border-style:solid;
	border-color:#7c5b47;

	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:15px;

	margin:20px 10px 20px 0px;
	width:450px;
	position:relative;
	float:left;
	display:block;
	padding: 0px 10px 10px 10px;
}

form fieldset legend{
	background-color:#7c5b47;

	border-width:1px;
	border-style:solid;
	border-color:#7c5b47;

	color:#ffcc99;
	font-weight:bold;
	font-variant:small-caps;
	font-size:120%;

	padding:2px 5px;
	margin:0px 0px 10px 0px;
	position:relative;
	top: -12px;

}

form fieldset legend img{
	padding:0px 5px 0px 5px;
}

fieldset{
	background-color:#fff9e7;

	border-width:2px;
	border-style:solid;
	border-color:#7c5b47;

	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:15px;

	margin:20px 10px 20px 0px;
	width:90%;
	position:relative;
	float:left;
	display:block;
	padding: 0px 10px 10px 10px;
}

fieldset legend{
	background-color:#7c5b47;

	border-width:1px;
	border-style:solid;
	border-color:#7c5b47;

	color:#ffcc99;
	font-weight:bold;
	font-variant:small-caps;
	font-size:120%;

	padding:2px 5px;
	margin:0px 0px 10px 0px;
	position:relative;
	top: -12px;
}

fieldset legend img{
	padding:0px 5px 0px 5px;
}

