<p id="notice"><%= notice %></p>

<p>
  <b>Caste name:</b>
  <%= @student_caste.caste_name %>
</p>


<%= link_to 'Edit', edit_student_caste_path(@student_caste) %> |
<%= link_to 'Back', student_castes_path %>
