body{
	background-color:#e4dab8;
}

#alert
{
color:red;
}

/* Donor List Display */
#donors
{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
width:100%;
border-collapse:collapse;
}
#donors td, #donors th 
{
font-size:1em;
border:1px solid #7c5b47;
padding:3px 7px 2px 7px;
}
#donors th 
{
font-size:1.1em;
text-align:left;
padding-top:5px;
padding-bottom:4px;
background-color:#7c5b47;
border:1px solid #ffcc99;
color:#fff9e7;
}
#donors tr.alt td 
{
color:#000000;
background-color:#EAF2D3;
}

/* Form Elements */
input[type="email"]
{
padding: 5px;
width:300px;
display:block;
margin-bottom:10px;
background-color:#F5ECDB;
}
input[type="password"]
{
padding: 5px;
width:300px;
display:block;
margin-bottom:10px;
background-color:#FFCC99;
}
input[type="text"]
{
padding: 5px;
width:300px;
display:block;
margin-bottom:10px;
background-color:#F5ECDB;
}
input[type="button"]
{
width:120px;
margin-left:35px;
display:block;
}
input[type="submit"]
{
height:30px;
width:120px;
margin-left:35px;
display:block;
}
input:focus {
	background-color:#CCFF99;
	color:#000000;
}

textarea
{
width: 95%;
height: 50px;
border: 3px solid #cccccc;
padding: 5px;
font-family: Tahoma, sans-serif;
background-color:#F5ECDB;
}
textarea:focus {
	background-color:#CCFF99;
	color:#000000;
}

form fieldset{
	background-color:#fff9e7;
	
	border-width:2px;
	border-style:solid;
	border-color:#7c5b47;
	
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:15px;
		
	margin:20px 10px 20px 0px;
	width:450px;
	position:relative;
	float:left;
	display:block;
	padding: 0px 10px 10px 10px;
}

form fieldset legend{	
	background-color:#7c5b47;
	
	border-width:1px;
	border-style:solid;
	border-color:#7c5b47;
	
	color:#ffcc99;
	font-weight:bold;
	font-variant:small-caps;
	font-size:120%;
		
	padding:2px 5px;
	margin:0px 0px 10px 0px;
	position:relative;
	top: -12px;
	
}
	 
form fieldset legend img{
	padding:0px 5px 0px 5px;	
}

.button{
	background-color:#fff9e7;
	
	border-width:1px;
	border-style:solid;
	border-color:#7c5b47;
	
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

label{
	color:#bf311b;
	font-size:90%;
	
	display:block;
	width:100px;
	float:left;
	text-align:left;
	margin:4px 5px 0px 0px;
}
