<p id="notice"><%= notice %></p>

<p>
  <b>Occupation name:</b>
  <%= @student_parent_occupation.occupation_name %>
</p>


<%= link_to 'Edit', edit_student_parent_occupation_path(@student_parent_occupation) %> |
<%= link_to 'Back', student_parent_occupations_path %>
