<br />
<div class="footer">
  <p align="center">Copyright 2012 <a href="http://www.vidyaposhak.org.in">VidyaPoshak</a>. All Rights Reserved.</p>
  <p align="center">Powered By: <a href="http://www.distinctnotion.com">Distinct Notion</a></p>
</div>

