<p id="notice"><%= notice %></p>

<p>
  <b>Medium name:</b>
  <%= @student_study_med.medium_name %>
</p>


<%= link_to 'Edit', edit_student_study_med_path(@student_study_med) %> |
<%= link_to 'Back', student_study_meds_path %>
