<% if user_signed_in? %>
  <h1>You are already signed in as <%= current_user.email %> </h1>
  <h2><%= link_to "SIGN OUT HERE", destroy_user_session_path, :method => :delete, :class => "choose" %></h2>
<% else %>
  <h1>Please Sign In or Register</h1>
  <hr />

  <div class="pageleft">
    <h2 class="choose">Are you an Existing User?</h2>
    <h3 class="choose">Login by clicking below</h3>
    <h2 class="choose"><%= link_to "LOGIN", new_user_session_path, :class => "choose" %></h2>
  </div>

  <div class="pageright">
    <h2 class="choose">Are you a New User?</h2>
    <h3 class="choose">Register by clicking below</h3>
    <%# Can pass like new_user_registration_path (:role => "donor") as well %>
    <h2 class="choose"><%= link_to "REGISTER", new_user_registration_path, :class => "choose" %></h2>
  </div>
<% end %>
<hr />

