<h1>Congratulations..</h1>
<p> Seeing this page means you have successfully configured your rails to the github. Now get familiar with the git working instructions to operate and use it in an efficient way</p>
<hr/>
<h2>A sample app post has been added with database support. Confirm the working by accessing the below</h2>
<%= link_to "All Posts", posts_path %>
<hr/>
<h3>I am Home#index</h3>
<p>Find me in app/views/home/index.html.erb</p>
