<h1>Congratulations..</h1>
<p> Seeing this page means you have successfully configured your rails to the github. Now get familiar with the git working instructions to operate and use it in an efficient way</p>
<hr/>
<h2>A sample app post has been added with database support. Confirm the working by accessing the below</h2>
<%= link_to "All Posts", posts_path %>
<hr/>
<h2>The DONOR main framework has been made ready and can be accessed below</h2>
<%= link_to "All Donors", donors_path %>
<h3>Authentication Mechanism is also incorporated for Login/Register for users and admins. The privillege levels are also setup. Use the following details to see the demonstration of privillege levels.</h3>
<pre>
Login               Privillege        Permissions
------------------------------------------------------------------------------
ari@de.com          General User      Read All. Update his own data
de@ari.com          Moderator         Read All. Update All. No Create/Destroy
arijit@admin.com    Admin             All permissions

Password same for all accounts - "arijit"

</pre>
<hr/>
<h2>Useful GIT and Heroku Instructions</h2>
<p>
<pre>
Global setup:
 Set up git
  git config --global user.name "Your Name"
  git config --global user.email talktoari@gmail.com
      
Next steps:
  mkdir vpapp
  cd vpapp
  git init
  touch README
  git add README
  git commit -m 'first commit'
  git remote add origin git@github.com:talktoari/vpapp.git
  git push -u origin master
      
Existing Git Repo?
  cd existing_git_repo
  git remote add origin git@github.com:talktoari/vpapp.git
  git push -u origin master
  
Heroku Commands
  git push heroku master
  heroku db:push

Precompile Assets
  bundle exec rake assets:precompile
</pre>
</p>
<hr/>
<h3>I am Home#index</h3>
<p>Find me in app/views/home/index.html.erb</p>
