<h2>Welcome to Vidya Poshak management System (VPMS)</h2>
<hr />
<p>You can manage each and every detail of the following aspects in this system. To start with, please go ahead and click the LOGIN menu item to login to the system. This is needed to ensure that all the data is prevented and authenticated before any modification is made to them.</p>
<hr/>
<h2>Features At A Glance</h2>
<ul>
  <li>Full Management of Donor and Students Data</li>
  <li>Full Management of multiple Donations for each Donor</li>
  <li>Full Tracking of Student's detail on a Yearly Basis</li>
  <li>Linking of Donations to Students</li>
  <li>Paginated Display of Records</li>
  <li>Role Based Create, Update and Destroy Functionality</li>
  <li>Custom Reporting and Filtering For:</li>
    <ul>
      <li>Donors</li>
      <li>Students</li>
      <li>Donations</li>
    </ul>
  <li>Provision for Data Import using Excel Upload (for Donors)</li>
  <li>Provision for Data Export to Excel for All Reports</li>
  <li>Custom Administration</li>
  <li>Additional Super Admin Control</li>
</ul>
<hr />

<h2>Authentication Mechanism</h2>
<p> Authentication is also incorporated for Login/Register for Users and Admins. The privillege levels are also setup. Use the following details to see the demonstration of privillege levels.</p>
<pre>
Login               Privillege        Permissions
------------------------------------------------------------------------------
arijit@superadmin.com SuperAdmin      All permissions
arijit@admin.com      Admin           All permissions (except Deleting Users)
de@ari.com            Moderator       Read All. Update All. No Create/Destroy
arijit@general.com    General         Only Read permissions

Password same for all accounts - "arijit"

</pre>

