<p id="notice"><%= notice %></p>

<p>
  <b>District:</b>
  <%= @student_district.district %>
</p>


<%= link_to 'Edit', edit_student_district_path(@student_district) %> |
<%= link_to 'Back', student_districts_path %>
