<p id="notice"><%= notice %></p>

<p>
  <b>Donor title:</b>
  <%= @donor_title.donor_title %>
</p>


<%= link_to 'Edit', edit_donor_title_path(@donor_title) %> |
<%= link_to 'Back', donor_titles_path %>
