<p id="notice"><%= notice %></p>

<p>
  <b>Taluka:</b>
  <%= @student_taluka.taluka %>
</p>


<%= link_to 'Edit', edit_student_taluka_path(@student_taluka) %> |
<%= link_to 'Back', student_talukas_path %>
